<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Robotics Club DDUC</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

{% load static %}

  <!-- Favicons -->
  <link href="{% static 'main_site/img/logo.jpg' %}" rel="icon">
  <link href="{% static 'main_siteimg/logo.jpg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'main_site/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'main_site/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'main_site/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'main_site/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'main_site/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'main_site/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'main_site/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  <style>
  	.logo {
  		border-radius: 50px;
  	}
  	.desktop {
  	        display: none;
  	    }
  	 .desktop-view {
  	     width:100%;
  	 }
  	 @media (min-width: 768px) {
        .phone {
            display: none;
        }
        .desktop {
            display: block;
        }
        .desktop-view {
            width: 80%;
        }
    }


</style>
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Robotics Club</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="phone"><img src="{% static 'main_site/img/logo.jpg' %}" width="50%" class="logo"></li>
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#portfolio">Projects</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">


        <div class="carousel-item active">
            <div class="carousel-background"><img src="{% static 'main_site/img/intro-carousel/back2.jpeg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>&lt; Welcome &gt;<br>to<br> Robotics Club DDUC </h2>
                <a href="#featured-services" class="btn-get-started scrollto">Explore</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'main_site/img/intro-carousel/2.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>RoboCarnival Event</h2>
                <p>Let's participate in RoboCarnival Events by clicking Get Started</p>
                <a href="http://praveshishere.pythonanywhere.com/" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'main_site/img/rof.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>RoFSoc</h2>
                <p>RoFSoc (Robotics for Society) is technical meet with an aim to offer a platform for the students to display their skills and knowledge in the form of projects made to serve the society was initiated.</p>
                <a href="https://dducollegedu.ac.in/Viewtopics.aspx?MenuId=qM8HbbtPsiGL8PlzZURyj5HvkpkY7daF" class="btn-get-started scrollto">More Info</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="https://cdn.thecollegefever.com/upload/28799487-1550930025709.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Spark Fest</h2>
                <p>SPARK'19 is the Robotics Festival in which number of competitors from reputed institutes participates. </p>
                <a href="https://www.thecollegefever.com/events/spark19-O1wePJyGhB" class="btn-get-started scrollto">More Info</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">

            <h4 class="title"><a href="">Curiosity</a></h4>
            <p class="description">Curiosity is heavily associated with all aspects of human development, in which derives the process of learning and desire to acquire knowledge and skill.</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-stopwatch-outline desktop"></i>
            <h4 class="title"><a href="">Innovation</a></h4>
            <p class="description">Innovation is often also viewed as the application of better solutions that meet new requirements, unarticulated needs, or existing market needs.</p>
          </div>

          <div class="col-lg-4 box">

            <h4 class="title"><a href="">Transformation</a></h4>
            <p class="description">Transformation begins and ends with how you think about Tech and Human Growth.</p>
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p><iframe class="desktop-view" height="350" src="https://www.youtube.com/embed/5ZSg9or4sYU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="{% static 'main_site/img/prizes.jpeg' %}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Events</a></h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="{% static 'main_site/img/prizeses.jpeg' %}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Achievements</a></h2>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="{% static 'main_site/img/grp.jpeg' %}" alt="" class="img-fluid" height="600px">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Team</a></h2>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->
    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Our Projects</h3>
        </header>
<br>
        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'main_site/img/portfolio/1.jpg' %}" class="img-fluid" alt="">
                <a href="{% static 'main_site/img/portfolio/1.jpg' %}" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Spider Bot</a></h4>
                <p><!-- by ABC--></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'main_site/img/portfolio/2.jpg' %}" class="img-fluid" alt="">
                <a href="{% static 'main_site/img/portfolio/2.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Leg Bot</a></h4>
                <p><!-- by ABC--></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'main_site/img/portfolio/3.jpg' %}" class="img-fluid" alt="">
                <a href="{% static 'main_site/img/portfolio/3.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Drone</a></h4>
                <p><!-- by ABC--></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'main_site/img/portfolio/4.jpg' %}" class="img-fluid" alt="">
                <a href="img/portfolio/4.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Robot Cars</a></h4>
                <p><!-- by ABC--></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'main_site/img/portfolio/5.jpg' %}" class="img-fluid" alt="">
                <a href="{% static 'main_site/img/portfolio/5.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Monkey Bot</a></h4>
                <p><!-- by ABC--></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'main_site/img/portfolio/6.jpg' %}" class="img-fluid" alt="">
                <a href="{% static 'main_site/img/portfolio/6.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Small Bot</a></h4>
                <p><!-- by ABC--></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'main_site/img/portfolio/7.jpg' %}" class="img-fluid" alt="">
                <a href="{% static 'main_site/img/portfolio/7.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Stone-Paper-Scissor</a></h4>
                <p><!-- by ABC--></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'main_site/img/portfolio/3.jpg' %}" class="img-fluid" alt="">
                <a href="{% static 'main_site/img/portfolio/3.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 3</a></h4>
                <p><!-- by ABC--></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static 'main_site/img/portfolio/1.jpg' %}" class="img-fluid" alt="">
                <a href="{% static 'main_site/img/portfolio/1.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 1</a></h4>
                <p><!-- by ABC--></p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Our Teacher Convenor</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">
          <div class="testimonial-item">
            <img src="{% static 'main_site/img/anju.jpeg' %}" class="testimonial-img" alt="">
            <h3>Dr. Anju Aggrawal</h3>
            <h4>Robotics Club DDUC Convenor</h4>
            <p>
              <img src="{% static 'main_site/img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
               Robotics is the branch of technology that deals with the design, construction, operation, structural disposition, manufacture and application of robots.
              <img src="{% static 'main_site/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
            </p>
          </div>

        </div>

      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Team</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'main_site/img/team/harsh.png' %}" class="img-fluid" alt="" width="300px" height="300px">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Harsh Joon</h4>
                  <span>Core Member</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{% static 'main_site/img/team/vsvai.jpeg' %}" class="img-fluid" alt="" width="300px" height="300px">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Vaibhav Singh</h4>
                  <span>President of Robotics Club</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{% static 'main_site/img/team/jaideep.jpeg' %}" class="img-fluid" alt="" width="300px" height="300px">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jaideep Shekhar</h4>
                  <span>Web Executive</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{% static 'main_site/img/team/sid.png' %}" class="img-fluid" alt="" width="300px" height="300px">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Siddhant</h4>
                  <span>Core Member</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header phone">

          <h3>Contact Us</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row contact-info">
          <div class="col-md-4">
            <div class="contact-address">
              <a href="https://www.google.com/maps/place/Deen+Dayal+Upadhyaya+College/@28.6051249,77.0358069,17z/data=!4m12!1m6!3m5!1s0x390d053340000001:0x43728703a210ae01!2sDeen+Dayal+Upadhyaya+College!8m2!3d28.6051249!4d77.0379956!3m4!1s0x390d053340000001:0x43728703a210ae01!8m2!3d28.6051249!4d77.0379956"><i class="ion-ios-location-outline"></i></a>
              <h3>Address</h3>
              <address>Sector-3 Dwarka</address>
            </div>
          </div>

          <div class="col-md-4 desktop">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3 style="color:white">Contact us</h3>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Deen Dayal Upadhyaya College</h3>
            <p>Deen Dayal Upadhyaya is a constituent college of the University of Delhi. The Government of National Capital Territory of Delhi established the college in the year 1990 in Karampura. <a href="https://dducollegedu.ac.in/Viewtopics.aspx?MenuId=c2D5EsQZoOpkXfxJ4sBdZH7Wzqtsqwwp">For more info !</a></p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#about">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="https://dducollegedu.ac.in/">DDU Website</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="http://praveshishere.pythonanywhere.com/">RoboCarnival</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Sector-3 <br>
              Dwarka<br>
              New Delhi - 110078 <br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/roboticsclubdduc/" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://instagram.com/roboticsclubdduc?igshid=qzxrho4whbi4" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter desktop">
            <img src="{% static 'main_site/img/logo.jpg' %}" width="100%">
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Robotics Club</strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'main_site/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'main_site/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'main_site/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'main_site/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'main_site/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'main_site/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'main_site/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'main_site/lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'main_site/lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'main_site/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'main_site/lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'main_site/lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'main_site/lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'main_site/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'main_site/js/main.js' %}"></script>

</body>
</html>
